/.bundle/
/.irb_history
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/sample/README.html
/spec/reports/
/misc/lib_*.yml
/tmp/
/vendor/
/Gemfile.lock
/Gemfile_local*
/README.html
/CHANGELOG.html
*~
.#*
\#*
